<template>
  <div class="home">
    <b-container>
      <b-row>
        <b-col>
          <Number @valueChange="valueChange"></Number>
        </b-col>
        <b-col>
          {{ number }}
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
// @ is an alias to /src
import Number from '@/components/Number.vue'

export default {
  name: 'Home',
  data () {
    return {
      number: 0
    }
  },
  components: {
    Number
  },
  methods: {
    valueChange (value) {
      this.number = value
    }
  }
}
</script>
